<!DOCTYPE html>
<html lang="en">
<head>
    <title>TechStretcher</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="/javascripts/angularMain.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Poppins|Open+Sans' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body ng-app="TechStretcher">
<div id="wrapper">
    <section id="leftbar">
        <h1>tech<span class="h1colour">stretcher</span></h1>
        <img class="img_circle" src="/images/yusuf.jpg">
        <p id = "username">yusuf osman</p>

        <div class="stats">
            <a class="stat" href="#">
                <strong>0</strong>
                <span>Followers</span>
            </a>
            <a class="stat" href="#">
                <strong>0</strong>
                <span>Following</span>
            </a>
        </div>
        <br>
        <br>
        <h2>your tags...</h2>
        <ul>
            <a href="#"><li>Programming</li></a>
            <a href="#"><li>Design</li></a>
            <a href="#"><li>Computers</li></a>
            <a href="#"><li>Gadgets</li></a>
            <a href="#"><li>Phones</li></a>
            <a href="#"><li>Tablets</li></a>
            <a href="#"><li>Memes</li></a>
        </ul>
    </section>
    <section id="middle">
        <input type="text" id="write_post_box" placeholder="Write here..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Write here...'">

        <div class="box post">
            <div class="post_header">
                <img class="img_circle small" src="/images/yusuf.jpg">
                <h3>Yusuf Osman</h3>
                <p class="date">5 hours ago</p>
            </div>
            <h1>This is an Article Title...</h1>
            <h2>Aren't subtitles great?</h2>
            <img class="post_image" src="http://www.architectsjournal.co.uk/pictures/2000x2000fit/9/4/2/1369942_London_Skyline.jpg">
            <p>Read more...</p>
        </div>

        <div class="box post">
            <div class="post_header">
                <img class="img_circle small" src="/images/yusuf.jpg">
                <h3>Yusuf Osman</h3>
                <p class="date">yesterday at 16:04</p>
            </div>
            <h1>There should be more articles like this...</h1>
            <h2>Yes I absolutely agree</h2>
            <img class="post_image" src="https://wallpaperscraft.com/image/thailand_sea_ocean_boat_rock_95477_1920x1080.jpg">
            <p>Read more...</p>
        </div>
    </section>

    <section id="rightbar">
        <div class="box trending-posts">
            <h1>trending posts...</h1>
            <ol class="custom-counter">
                <li>This is the first item</li>
                <li>This is the second item</li>
                <li>This is the third item</li>
                <li>This is the fourth item</li>
                <li>This is the fifth item</li>
                <li>This is the sixth item</li>
            </ol>
        </div>

        <div class="box trending-tags">
            <h1>trending tags...</h1>
            <ol class="custom-counter">
                <li>This is the first item</li>
                <li>This is the second item</li>
                <li>This is the third item</li>
                <li>This is the fourth item</li>
                <li>This is the fifth item</li>
                <li>This is the sixth item</li>
            </ol>
        </div>
    </section>
</div>
</body>
</html>