<!DOCTYPE html>
<html lang="en">
<head>
    <title>TechStretcher</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="/javascripts/angularMain.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body ng-app="TechStretcher">
<div id="wrapper">
    <section id="leftbar">
        <h1>techstretcher</h1>
        <img class="img-circle" src="/images/yusuf.jpg">
        <p id = "username">yusuf osman</p>

        <div class="stats">
            <a class="stat" href="#">
                <strong>0</strong>
                <span>Followers</span>
            </a>
            <a class="stat" href="#">
                <strong>0</strong>
                <span>Following</span>
            </a>
        </div>
        <br>
        <br>
        <h2>your tags...</h2>
        <ul>
            <li>Programming</li>
            <li>Design</li>
            <li>Blogs</li>
            <li>Gadgets</li>
            <li>Phones</li>
            <li>Tablets</li>
            <li>Computers</li>
        </ul>
    </section>
    <section id="middle">
        <h1>2nd Content Area</h1>
        <p>At full width all three columns will be displayed side by side. As the page is resized the third column will
            collapse under the first and second. At the smallest screen size all three columns will be stacked on top of
            one another.
        </p>
        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
            commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
            vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
            praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
        </p>
    </section>
    <section id="rightbar">
        <h2>3rd Content Area</h2>
        <p>Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore magna aliquam erat volutpat.
        </p>
        <p>Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
    </section>
    <footer>
        <h4>Footer</h4>
        <p>Footer text</p>
    </footer>
</div>
</body>
</html>