<!DOCTYPE html>
<html lang="en">
<head>
    <title>TechStretcher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
    <script src="/javascripts/angularMain.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Poppins|Open+Sans' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body ng-app="TechStretcher" ng-controller="MainController">

<header>
    <h1>tech<span class="h1colour">stretcher</span></h1>
</header>

<div id="wrapper">

    <ui-view></ui-view>

    <section id="rightbar">
        <div class="box trending-posts">
            <h1>trending posts...</h1>
            <ol class="custom-counter">
                <li>Latest iPhone 7 news</li>
                <li>Most overpriced tech</li>
                <li>This is the third item</li>
                <li>This is the fourth item</li>
                <li>This is the fifth item</li>
                <li>This is the sixth item</li>
            </ol>
        </div>

        <div class="box trending-tags">
            <h1>trending tags...</h1>
            <ol class="custom-counter">
                <li>This is the first item</li>
                <li>This is the second item</li>
                <li>This is the third item</li>
                <li>This is the fourth item</li>
                <li>This is the fifth item</li>
                <li>This is the sixth item</li>
            </ol>
        </div>
    </section>
</div>

</body>
</html>