<!DOCTYPE html>
<html lang="en">
<head>
    <title>TechStretcher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
    <script src="/javascripts/angularMain.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Poppins|Open+Sans' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body ng-app="TechStretcher" ng-controller="MainController">

<header>
    <h1>tech<span class="h1colour">stretcher</span></h1>
</header>

<div id="wrapper">

    <ui-view></ui-view>

    <section id="rightbar">
        <div class="box trending-posts">
            <h1>trending posts...</h1>
            <ol class="custom-counter">
                <li>Latest iPhone 7 news</li>
                <li>Most overpriced tech</li>
                <li>This is the third item</li>
                <li>This is the fourth item</li>
                <li>This is the fifth item</li>
                <li>This is the sixth item</li>
            </ol>
        </div>

        <div class="box trending-tags">
            <h1>trending tags...</h1>
            <ol class="custom-counter">
                <li>This is the first item</li>
                <li>This is the second item</li>
                <li>This is the third item</li>
                <li>This is the fourth item</li>
                <li>This is the fifth item</li>
                <li>This is the sixth item</li>
            </ol>
        </div>
    </section>
</div>

<script type="text/ng-template" id="/home.html">
    <section id="leftbar">
        <h1>tech<span class="h1colour">stretcher</span></h1>
        <img class="img_circle" ng-src="/images/yusuf.jpg">
        <p id="username">{{fullname.toLowerCase()}}</p>

        <div class="stats">
            <a class="stat" href="#">
                <strong>0</strong>
                <span>Followers</span>
            </a>
            <a class="stat" href="#">
                <strong>0</strong>
                <span>Following</span>
            </a>
        </div>
        <br>
        <br>
        <h2>your tags...</h2>
        <ul>
            <a href="#">
                <li>Programming</li>
            </a>
            <a href="#">
                <li>Design</li>
            </a>
            <a href="#">
                <li>Computers</li>
            </a>
            <a href="#">
                <li>Gadgets</li>
            </a>
            <a href="#">
                <li>Phones</li>
            </a>
            <a href="#">
                <li>Tablets</li>
            </a>
            <a href="#">
                <li>Memes</li>
            </a>
        </ul>
    </section>
    <section id="middle">
        <div id="write-post-box" ng-click="showContents = true" ng-blur="showContents = false">
            <p ng-hide="showContents">Write here...</p>
            <div id="hidden-post-box" ng-show="showContents">
                <form ng-submit="addPost()">
                    <div id="box-user-header">
                        <img class="img_circle small" ng-src="/images/yusuf.jpg">
                        <span class="header-name">{{fullname}}</span>
                    </div>
                        <textarea id="post-box-content" type="text" ng-model="postcontent"
                                  placeholder="What would you like to share?"></textarea><br>
                    <div id="write-form-buttons">
                        <input class="btn" type="submit" value="Submit">
                        <input class="btn" type="button" value="Go Advanced">
                    </div>
                </form>
            </div>
        </div>

        <div class="box post" ng-repeat="post in posts | orderBy: '-submissiondate'">
            <div class="box-user-header">
                <img class="img_circle small" ng-src="/images/yusuf.jpg">
                <div class="box-top-info">
                    <span>{{post.author}}</span>
                    <span rel="tooltip" title={{post.submissiondate}}><p class="date">{{post.submissiondate | from}}</p></span>
                </div>
            </div>
            <h1 ng-show="{{post.title}}">{{post.title}}</h1>
            <h2 ng-show="{{post.subtitle}}">{{post.subtitle}}</h2>
            <img ng-show="{{post.image}}" class="post_image" ng-src='{{post.image}}'>
            <p>{{post.postcontent}}</p>
            <p>Read more...</p>
            <span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
            <p>upvotes: {{post.upvotes}}</p>
            <span>
              <a href="#/posts/{{post._id}}">Comments</a>
            </span>
        </div>
    </section>
</script>

<script type="text/ng-template" id="/posts.html">
    <section id="leftbar">
        <h1>tech<span class="h1colour">stretcher</span></h1>
        <img class="img_circle" ng-src="/images/yusuf.jpg">
        <p id="username">{{fullname.toLowerCase()}}</p>

        <div class="stats">
            <a class="stat" href="#">
                <strong>0</strong>
                <span>Followers</span>
            </a>
            <a class="stat" href="#">
                <strong>0</strong>
                <span>Following</span>
            </a>
        </div>
        <br>
        <br>
        <h2>your tags...</h2>
        <ul>
            <a href="#">
                <li>Programming</li>
            </a>
            <a href="#">
                <li>Design</li>
            </a>
            <a href="#">
                <li>Computers</li>
            </a>
            <a href="#">
                <li>Gadgets</li>
            </a>
            <a href="#">
                <li>Phones</li>
            </a>
            <a href="#">
                <li>Tablets</li>
            </a>
            <a href="#">
                <li>Memes</li>
            </a>
        </ul>
    </section>
    <section id="middle">
        <span>
            {{post.postcontent}}
        </span>

        <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
            <span class="glyphicon glyphicon-thumbs-up"
                  ng-click="incrementUpvotes(comment)">
            </span>
                {{comment.upvotes}} - by {{comment.author}}
            <span style="font-size:20px; margin-left:10px;">
                {{comment.body}}
            </span>
        </div>

        <form ng-submit="addComment()"
              style="margin-top:30px;">
            <h3>Add a new comment</h3>

            <div class="form-group">
                <input type="text"
                       class="form-control"
                       placeholder="Comment"
                       ng-model="body"/>
            </div>
            <input class="btn" type="submit" value="Post">
        </form>

    </section>
</script>

</body>
</html>