<!DOCTYPE html>
<html lang="en">
<head>
    <title>TechStretcher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Poppins|Open+Sans' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/bootstrap/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.4/ui-bootstrap-tpls.min.js"></script>
    <script src="/javascripts/angularMain.js"></script>
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>


<body ng-app="TechStretcher" ng-controller="MainCtrl">
<header>
    <h1>tech<span class="h1colour">stretcher</span></h1>
</header>

<div id="wrapper">
    <section class="leftbar">
        <h1>tech<span class="h1colour">stretcher</span></h1>
        <div class="login-control" ng-hide="isLoggedIn()">
            <img class="img_circle" ng-src="/images/generic-prof-pic.png">
            <a ng-click="open()" style="cursor: pointer;">Log in</a> or <a href="/#/register">Register</a>
        </div>

        <div ng-show="isLoggedIn()">
            <div class="logout-control">
            <img class="img_circle" ng-src="/images/yusuf.jpg">
            <p id="username">{{currentUser().toLowerCase()}}</p>
            <a href="" ng-click="logOut()">Log Out</a>
            </div>

            <div class="stats">
                <a class="stat" href="#">
                    <strong>0</strong>
                    <span>Followers</span>
                </a>
                <a class="stat" href="#">
                    <strong>0</strong>
                    <span>Following</span>
                </a>
            </div>
        </div>
        <br>
        <br>
        <h2 ng-show="isLoggedIn()">your tags...</h2>
        <ul>
            <a href="#">
                <li>Programming</li>
            </a>
            <a href="#">
                <li>Design</li>
            </a>
            <a href="#">
                <li>Computers</li>
            </a>
            <a href="#">
                <li>Gadgets</li>
            </a>
            <a href="#">
                <li>Phones</li>
            </a>
            <a href="#">
                <li>Tablets</li>
            </a>
            <a href="#">
                <li>Memes</li>
            </a>
        </ul>
    </section>

    <ui-view></ui-view>

    <section id="rightbar">
        <div class="box trending-posts">
            <h1>trending posts...</h1>
            <ol class="custom-counter">
                <li>Latest iPhone 7 news</li>
                <li>Most overpriced tech</li>
                <li>This is the third item</li>
                <li>This is the fourth item</li>
                <li>This is the fifth item</li>
                <li>This is the sixth item</li>
            </ol>
        </div>

        <div class="box trending-tags">
            <h1>trending tags...</h1>
            <ol class="custom-counter">
                <li>This is the first item</li>
                <li>This is the second item</li>
                <li>This is the third item</li>
                <li>This is the fourth item</li>
                <li>This is the fifth item</li>
                <li>This is the sixth item</li>
            </ol>
        </div>
    </section>
</div>


<script src="/javascripts/filters/dateFromNow.js"></script>
<script src="/javascripts/controllers/main.js"></script>
<script src="/javascripts/controllers/posts.js"></script>
<script src="/javascripts/controllers/authentication.js"></script>
<script src="/javascripts/controllers/register.js"></script>
<script src="/javascripts/controllers/navigation.js"></script>
<script src="/javascripts/services/posts.js"></script>
<script src="/javascripts/services/authentication.js"></script>

</body>
</html>