<!DOCTYPE html>
<html lang="en">
<head>
    <title>TechStretcher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="/javascripts/angularMain.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Poppins|Open+Sans' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
        <li ng-show="isLoggedIn()"><a>{{currentUser()}}</a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
    </ul>
</nav>

<body ng-app="TechStretcher">
<header>
    <h1>tech<span class="h1colour">stretcher</span></h1>
</header>

<div id="wrapper">

    <ui-view></ui-view>

    <section id="rightbar">
        <div class="box trending-posts">
            <h1>trending posts...</h1>
            <ol class="custom-counter">
                <li>Latest iPhone 7 news</li>
                <li>Most overpriced tech</li>
                <li>This is the third item</li>
                <li>This is the fourth item</li>
                <li>This is the fifth item</li>
                <li>This is the sixth item</li>
            </ol>
        </div>

        <div class="box trending-tags">
            <h1>trending tags...</h1>
            <ol class="custom-counter">
                <li>This is the first item</li>
                <li>This is the second item</li>
                <li>This is the third item</li>
                <li>This is the fourth item</li>
                <li>This is the fifth item</li>
                <li>This is the sixth item</li>
            </ol>
        </div>
    </section>
</div>

<script type="text/ng-template" id="/register.html">
    <div class="page-header">
        <h1>techstretcher</h1>
    </div>

    <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
    </div>

    <form ng-submit="register()"
          style="margin-top:30px;">
        <h3>Register</h3>

        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Username"
                   ng-model="user.username"/>
        </div>
        <div class="form-group">
            <input type="password"
                   class="form-control"
                   placeholder="Password"
                   ng-model="user.password"/>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</script>

<script type="text/ng-template" id="/login.html">
    <div class="page-header">
        <h1>techstretcher</h1>
    </div>

    <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
    </div>

    <form ng-submit="logIn()"
          style="margin-top:30px;">
        <h3>Log In</h3>

        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Username"
                   ng-model="user.username"/>
        </div>
        <div class="form-group">
            <input type="password"
                   class="form-control"
                   placeholder="Password"
                   ng-model="user.password"/>
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
</script>

<script src="/javascripts/filters/dateFromNow.js"></script>
<script src="/javascripts/controllers/main.js"></script>
<script src="/javascripts/controllers/posts.js"></script>
<script src="/javascripts/controllers/authentication.js"></script>
<script src="/javascripts/controllers/navigation.js"></script>
<script src="/javascripts/services/posts.js"></script>
<script src="/javascripts/services/authentication.js"></script>

</body>
</html>