<!DOCTYPE html>
<html lang="en">
<head>
    <title>TechStretcher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="/javascripts/angularMain.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Poppins|Open+Sans' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body ng-app="TechStretcher" ng-controller="MainCtrl">

<header>
    <h1>tech<span class="h1colour">stretcher</span></h1>
</header>

<div id="wrapper">

    <section id="leftbar">
        <h1>tech<span class="h1colour">stretcher</span></h1>
        <img class="img_circle" ng-src="/images/yusuf.jpg">
        <p id = "username">{{fullname}}</p>

        <div class="stats">
            <a class="stat" href="#">
                <strong>0</strong>
                <span>Followers</span>
            </a>
            <a class="stat" href="#">
                <strong>0</strong>
                <span>Following</span>
            </a>
        </div>
        <br>
        <br>
        <h2>your tags...</h2>
        <ul>
            <a href="#"><li>Programming</li></a>
            <a href="#"><li>Design</li></a>
            <a href="#"><li>Computers</li></a>
            <a href="#"><li>Gadgets</li></a>
            <a href="#"><li>Phones</li></a>
            <a href="#"><li>Tablets</li></a>
            <a href="#"><li>Memes</li></a>
        </ul>
    </section>
    <section id="middle">
        <div write-post-box id="write_post_box">

        </div>

        <div class="box post" ng-repeat="post in posts">
            <div class="post_header">
                <img class="img_circle small" ng-src="/images/yusuf.jpg">
                <h3>{{post.submitter}}</h3>
                <p class="date">{{post.date}}</p>
            </div>
            <h1>{{post.title}}</h1>
            <h2>{{post.subtitle}}</h2>
            <img class="post_image" ng-src='{{post.image}}'>
            <p>Read more...</p>
        </div>
    </section>

    <section id="rightbar">
        <div class="box trending-posts">
            <h1>trending posts...</h1>
            <ol class="custom-counter">
                <li>This is the first item</li>
                <li>This is the second item</li>
                <li>This is the third item</li>
                <li>This is the fourth item</li>
                <li>This is the fifth item</li>
                <li>This is the sixth item</li>
            </ol>
        </div>

        <div class="box trending-tags">
            <h1>trending tags...</h1>
            <ol class="custom-counter">
                <li>This is the first item</li>
                <li>This is the second item</li>
                <li>This is the third item</li>
                <li>This is the fourth item</li>
                <li>This is the fifth item</li>
                <li>This is the sixth item</li>
            </ol>
        </div>
    </section>
</div>
</body>
</html>