body {
    font:  normal 12px 'Poppins', sans-serif;  /* Previously: Open-Sans */
    color: #666;
    background-color: #f3f4f4;
}

.logo {
    display: inline;
    float: left;
    height: 14px;
    overflow: hidden;
    margin: 10px 0 20px -63px;
    text-indent: -9999px;
    width: 125px;
    background: url(../images/ts_logo.png) no-repeat;
    position: relative;
    left: 50%;
}


#wrapper {
    padding: 0;
    width: 95%;
    max-width: 1100px;
    margin: 20px auto;
    margin: 0 auto;
}

#leftbar {
    width: 14%;
    padding: 1% 2%;
    height: inherit;
    float: left;
    background-color: #ffffff;
    display: inline-block;
}

#leftbar h1 {
    text-align: center;
    font-weight: normal;
    color: #2ac2bc;
}

#leftbar h1 .h1colour {
    text-align: center;
    color: #036965;
}

#leftbar h2 {
    font-variant: small-caps;
    font-size: 16px;
    margin: 0;
}

#leftbar ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: #bfc1c1;
}

#leftbar a {
    text-decoration: none;
    color: #bfc1c1;
}

#leftbar a:hover {
    text-decoration: none;
    color: gray;
}

.img_circle {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

.img_circle.small {
    width: 40px;
    height: 40px;
    float: left;
    display: inline;
    margin-right: 12px;
}

p#username {
    text-align: center;
    padding: 0;
    margin: 0;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 14px;
    color: #919292;
}

#hrline {
    border-top: solid 1px #f2f2f2;
}

#middle {
    width: 58%;
    float: left;
    margin: 0 15px 0 15px;
}

#write_post_box {
    width: 100%;
    height: 50px;
    border: solid 1px #dcdcdc;
    margin-bottom: 15px;
    display: block;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    transition: box-shadow 0.3s, border 0.3s;
    font:  normal 18px 'Poppins', sans-serif;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    padding: 10px;
}

#write_post_box:focus,
#write_post_box.focus {
    outline: none;
    border: solid 1px #8ea9a8;
    box-shadow: 0 0 5px 1px #8ea9a8;
}

.post {
    width: 100%;
    border: solid 1px #dcdcdc;
    padding: 10px;
    margin-bottom: 15px;
    background-color: white;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.post h1 {
    margin: 15px 0 0 0;
    font:  normal 20px 'Poppins', sans-serif;
    font-weight: bold;
}

.post h2 {
    font:  normal 14px 'Poppins', sans-serif;
    margin: 0 0 10px 0;
    color: #908f8f;
    font-style: italic;
}

.post_header {
    height: auto;
    display:block;
    overflow:auto;
}


.post_header h3 {
    margin: 0;
    font:  normal 12px 'Poppins', sans-serif;
    color: #2ac2bc;
}

.post .date {
    float: left;
    margin: 0;
    font-size: 10px;
}

.post_image {
    max-width: 100%;
    max-height:100%;
}

#rightbar {
    width: 20.3%;
    padding: 1% 2%;
    float: left;
    background-color: #ffffff;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

}

#leftbar, #middle, #rightbar {
    margin-bottom: 20px;
}

#leftbar, #rightbar{
    border: solid 1px #dcdcdc;
}

.stats {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.stat{
    float:left;
    width:50%;
    font-size:12px;
    ext-transform:capitalize;
    text-decoration: none;
}


.stat strong {
    display: block;
    font-size: 24px;
    margin-bottom: -5px;
    color: #2ac2bc;
}

.stat span {
    display: block;
    font-size: 11px;
    color: #919292;
    margin-bottom: 20px;
}


/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 950px or less */
@media screen and (max-width: 950px) {
    #wrapper {
        padding: 0;
        width: 95%;
        max-width: 1100px;
        margin: 20px auto;
        display: inline;
    }

    #leftbar {
        display: none;
    }

    #middle {
        width: 95%;
        float: none;
        margin-left: 0;
    }

    #rightbar {
        width: 95%;
        float: none;
    }

}

/* for 480px or less */
@media screen and (max-width: 600px) {

    header {
        height: auto;
    }
    h1 {
        font-size: 2em;
    }
    #leftbar {
        display: none;
    }

}
